# ==================== MongoDB ====================
MONGODB_URI=mongodb+srv://admin:admin@cluster0.psakfab.mongodb.net/
MONGODB_BETTING_DB=betting_db
MONGODB_ORDER_DB=evient_orders

# ==================== JWT ====================
JWT_SECRET=BettingPlatformSecret_Z5gC2JlTAUs7Pu
JWT_EXPIRES_IN=7d

# ==================== Server ====================
PORT=3005
BETTING_PORT=3005
NODE_ENV=production

# ==================== CORS ====================
# Sửa giá trị này thành URL Vercel của bạn sau khi deploy Frontend
CORS_ORIGIN=https://your-frontend-app.vercel.app

# ==================== Admin Seed ====================
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# ==================== Cloudinary ====================
CLOUDINARY_CLOUD_NAME=dhakrxbsd
CLOUDINARY_API_KEY=289113622635594
CLOUDINARY_API_SECRET=HNVlafCEi7tpquOvQytAJ5u_86M
